<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<title>Digital Store</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<!-- Font-awesome -->
	<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<!-- Custom -->
	<link rel="stylesheet" href="/css/header-bar.css"/>
	<link rel="stylesheet" href="/css/product-box.css"/>
	<link rel="stylesheet" href="/css/checkout.css"/>
	<link rel="stylesheet" href="/css/shopping-cart.css"/>
</head>
<body>
	<div th:fragment="header-bar">
		<nav class="navbar navbar-dark bg-primary justify-content-between">
			<a href="/"><span class="navbar-brand">Digital Store</span></a>
			<div class="navbar-cart">
				<a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
				<span class="shopping-cart-counter" th:if="${cartSize > 0}" th:text="${cartSize}">1</span>
			</div>
		</nav>
	</div>
</body>
</html>
