<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header" />
<body>
	<div th:include="header :: header-bar"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="card card-list ">
					<div th:if="${#lists.isEmpty(products)}">
						<div class="card-body">
							<span th:text="'Nenhum produto no carrinho'"></span>
						</div>
					</div>
					<div th:each="product : ${products}" class="card-body">
						<div class="row align-items-top">
							<div class="col-sm-8">
								<span><strong th:text="${product.name}">Immigrant Song</strong></span>
							</div>
							<div class="col-sm-3">
								<span th:text="'R$ ' + ${#numbers.formatDecimal(product.price,1,2,'COMMA')}">R$ 9,99</span>
							</div>
							<div class="col-sm-1 text-right">
								<form action="/shopping-cart" th:action="@{'/shopping-cart/remove/' + ${product.id}}" method="post">
									<button type="submit" class="button-cart-remove">
										<i class="fas fa-ban"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<a href="/">Continuar comprando</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-list">
					<div>
						<div class="card-body ">
							<div class="row" style="margin-bottom: 10px">
								<div class="col-6">
									<span><strong>Total</strong></span>
								</div>
								<div class="col-6 text-right">
									<span th:text="${'R$ '+ cartTotal}">R$ 9,99</span>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<a class="btn btn-primary" href="/checkout" role="button">Prosseguir com pagamento</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>